@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&family=Roboto:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.frc {
		@apply flex flex-row items-center;
	}
	.fcc {
		@apply flex  flex-col items-center;
	}
	.Trasition {
		@apply transition-all duration-75;
	}

	.btn-learn-more {
		@apply px-[27px] text-[18px] py-[15px] bg-red-600 rounded mt-[15px] hover:scale-105
		transition-all duration-75  cursor-pointer text-white;
	}

	.sub-hero-desc {
		@apply w-[100%] 400:w-[61%] 760:w-[50%] text-[15px] 330:text-[15px]  400:text-[16px] 1400:text-[19px] text-center text-white tracking-wide;
	}

	.latest-news-card {
		@apply w-[367px] ml-0 720:ml-[15px] mt-[25px] 745:mt-[25px] h-[500px] 1225:h-[85%] cursor-pointer bg-[#161616] relative fcc;
	}

	.form-input {
		@apply h-full p-[20px]  border-[2px] rounded-[3px] border-black  outline-none bg-transparent text-[17px];
	}
	.btn-signUp {
		@apply text-white bg-red-600 hover:scale-105 transition-all duration-75 cursor-pointer rounded-[3px] px-[30px] py-[15px];
	}
}

#monospace {
	font-family: "Share Tech Mono", monospace;
}
#RobotoMono {
	font-family: "Roboto Mono", monospace;
}
#Roboto {
	font-family: "Roboto", sans-serif;
}

#root {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	background: black;
}

::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 8px;
}

.container {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container_loading path {
	opacity: 0.95;
}
.container_loading svg {
	position: relative;
	top: 100px;
	width: 205px;
	height: 210px;
	margin: 0 auto;
	display: block;
}
